@import url('https://fonts.google.com/specimen/Open+Sans');
* {
box-sizing: border-box;
}

*:focus {
  outline: none;
}
body {
font-family: "Open Sans Light";
background-color: #3498DB;
padding: 10px;
}
.reg {
margin: 20px auto;
width: 300px;
}
.reg-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #0e2c80;
}

.reg-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
margin: 2px;
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 5px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 5px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  width: 250px;
  margin: 3px;
}

.btn:hover {
  background-color: #0e679d;
}
.btn:hover {
  background-color: #0e679d;
}
select {
margin: 2px;
text-align: center;
background-color: #d5dada;
border: 2px solid transparent;
border-radius: 3px;
font-size: 15px;
font-weight: 100;
padding: 1px 0;
width: 250px;
transition: border .5s;
}
legend{
text-align: center;
color: #5e5e60;
}